<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/admHeader ::head">



</head>

<body>
<header th:replace="admin/admHeader :: header"></header>

<div class="divisor"></div>

<div class="wrapper">

    <div id="content">
        <div class="container">
            <div class="row">




                <!--AGREGAR USUARIO-->

                <div class="col-md-11">

                    <h6>Crear Evento</h6>
                    <form id="altaEventoForm"  name="altaEventoForm" >

                    <div class="card">
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-4">
                                    <label for="fecha">* Día:</label>
                                    <input class="form-control" type="text" id="dias" name="dias" onchange="revalidarDias();" />
                                    <!--th:field="*{}"-->
                                </div>
                                <div class="col-md-4">
                                    <label for="horarios">* Horario:</label>
                                    <input type="text" class="form-control"  id="horarios" name="horarios" required="true"   /> <!--th:field="*{}"-->

                                </div>

                                <div class="col-md-4">
                                    <label for="direccion">* Dirección:</label>
                                    <input type="text" class="form-control" id="direccion" name="direccion" required="true"  /> <!--th:field="*{}"-->
                                </div>

                                <div class="col-md-4">
                                    <label for="Lugar">* Lugar:</label>
                                    <input type="text" class="form-control" id="lugar" name="lugar" required="true" /> <!--th:field="*{}"-->
                                </div>

                                <div class="col-md-4">
                                    <label for="barrio">* Barrio:</label>
                                    <input type="text" class="form-control" id="barrio" name="barrio" required="true" /> <!--th:field="*{}"-->

                                </div>

                                <div class="col-md-12">
                                    <label for="consultas">* Consultas:</label>
                                    <input type="text" class="form-control" id="consultas" name="consultas" required="true" /> <!--th:field="*{}"-->

                                </div>
                            </div>
                            <button type="button"  id="crearEvento" class="btn btn-primary float-right" style="margin-top: 20px;">Crear</button>

                            <button type="button"  id="limpiar" class="btn btn-primary float-right" style="margin-top: 20px; margin-right: 30px" onclick="limpiarCampos()">Limpiar</button>


                        </div>
                    </div>
                    </form>
                </div>

            </div>

            <!-- FIN FORM AGREGAR USUARIO-->

            <!-- MENU ESTADISTICAS-->
            <div class="divisor"></div>

            <div class="row">
                <!-- FIN MENU ESTADISTICAS-->

                <!-- TABLA DE SERVICIOS INGRESADOS-->
                <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-5">
                                <h6>Ingresados</h6>
                            </div>

                        </div>
                    <table  id="tablaEventos"
                            data-toggle="table"
                            data-toolbar="#toolbar"
                            class="table"
                            data-search="true"
                            data-pagination="true"
                            data-page-size="10"
                            style=" width: 1px; white-space: nowrap;"

                    >
                        <thead>
                        <tr>
                            <th data-field="id" >Id Evento</th>
                            <th data-field="dias" >Día</th>
                            <th data-field="horarios">Horario</th>
                            <th data-field="lugar">Lugar</th>
                            <th data-field="barrio">Barrio</th>
                            <th data-field="consultas">Consultas</th>
                            <th data-formatter="TableActions">Action</th>


                        </tr>
                        </thead>

                    </table>
                </div>
            </div>
            <!-- FIN TABLA DE SERVICIOS INGRESADOS-->
        </div>
    </div>
</div>


<div class="modal editar" tabindex="-1" role="dialog" id="modalEditarEvento">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Evento</h5>
                <button type="button" class="close" onclick="cerrarModal('modalEditarEvento')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="formEditarEvento" name="formEditarEvento" role="form">
                    <div class="container-fluid">
                        <div class="row">

                            <input type="hidden" class="form-control" id="idEventoEditar" />
                            <div class="col-md-6">
                                <label for="dia">* Día</label>
                                <input type="text" class="form-control" id="diaEventoEditar" name="diaEventoEditar" onchange="revalidarDiasEditar()" />
                            </div>
                            <div class="col-md-6">
                                <label for="horario">* Horario</label>
                                <input type="text" class="form-control" id="horarioEventoEditar" name="horarioEventoEditar"/>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label for="direccion">* Dirección</label>
                                <input type="text" class="form-control" id="direccionEventoEditar" name="direccionEventoEditar" />
                            </div>


                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <label for="rol">* Lugar</label>
                                <input type="text" class="form-control" id="lugarEventoEditar" name="lugarEventoEditar"/>

                            </div>
                            <div class="col-md-6">
                                <label for="rol">* Barrio</label>
                                <input type="text" class="form-control" id="barrioEventoEditar"  name="barrioEventoEditar"/>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="rol">* Consultas</label>
                                <input type="text" class="form-control" id="consultasEventoEditar" name="consultasEventoEditar"/>

                            </div>
                        </div>

                    </div>
                </form>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-primary " id="confirmarEditarEventoBtn" onclick="confirmaEditarEvento()">Grabar</button>

                <button type="button" class="btn btn-secondary" onclick="cerrarModal('modalEditarEvento')">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal borrar" tabindex="-1" role="dialog" id="modalBorrarEvento">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar evento</h5>
                <button type="button" class="close" onclick="cerrarModal('modalBorrarEvento')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="textoBorrarEvento">Seguro que desea borrar este evento?</p>
                <form id="formBorrarEvento" role="form">
                    <input type="hidden" class="form-control" id="idEventoBorrar" />
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary " id="confirmarBorrarEventoBtn" onclick="confirmaBorrarEvento()">Borrar</button>

                <button type="button" class="btn btn-secondary" onclick="cerrarModal('modalBorrarEvento')">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal alta" tabindex="-1" role="dialog" id="modalAltaEvento">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alta de evento</h5>
                <button type="button" class="close" onclick="cerrarModal('modalAltaEvento')"  aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="textoAltaEvento">.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="cerrarModal('modalAltaEvento')" >Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal alta" tabindex="-1" role="dialog" id="modalRespuestaEditarEvento">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar evento</h5>
                <button type="button" class="close" onclick="cerrarModal('modalRespuestaEditarEvento')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="textoEditarEvento">.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="cerrarModal('modalRespuestaEditarEvento')">Cerrar</button>
            </div>
        </div>
    </div>
</div>




</body>
<script type="text/javascript" th:src="@{/js/admEventos.js}"></script>

<script th:inline="javascript" >

    /** ncomo estoy usando tags de ThymeLeaf si lo saco a un JS no me lo toma**/
    function TableActions (value, row, index) {
        return [


            '<a class="like"  onclick="editarEvento( \''+row.id+'\',  \''+row.dias+'\',   \''+row.horarios+'\',   \''+row.direccion+'\' ,   \''+row.lugar+'\' ,\''+row.barrio+'\', \''+row.consultas+'\');" title="Editar evento">',
            '<img class="options" src="../img/edit.png" alt="check"/>',
            '</a> ',
            '<a class="danger remove" onclick="borrarEvento(\''+row.id+ '\')" title="Borrar Evento">',
            '<img class="options" src="../img/delete.png" alt="cancel"/>',
            '</a>'
        ].join('');
    }


</script>




</html>