<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/admHeader ::head">



</head>

<body>
<header th:replace="admin/admHeader :: header"></header>

<div class="divisor"></div>

<div class="wrapper">

    <div id="content">
        <div class="container">
            <div class="row">



                <!-- FIN MENU ADMINISTRAR-->

                <!--AGREGAR USUARIO-->

                <div class="col-md-11">

                    <h6>Crear Evento</h6>
                    <div class="card">
                        <div class="card-body">
                            <div id="error" class="error"></div>
                            <div class="row">

                                <div class="col-md-4">
                                    <label for="fecha">Dia:</label>
                                    <input class="form-control" type="text" id="dias" />
                                    <!--th:field="*{}"-->
                                </div>
                                <div class="col-md-4">
                                    <label for="horarios">Horario:</label>
                                    <input type="text" class="form-control" id="horarios" /> <!--th:field="*{}"-->

                                </div>

                                <div class="col-md-4">
                                    <label for="direccion">Direccion:</label>
                                    <input type="text" class="form-control" id="direccion" /> <!--th:field="*{}"-->
                                </div>

                                <div class="col-md-4">
                                    <label for="Lugar">Lugar:</label>
                                    <input type="text" class="form-control" id="lugar" /> <!--th:field="*{}"-->
                                </div>

                                <div class="col-md-4">
                                    <label for="barrio">Barrio:</label>
                                    <input type="text" class="form-control" id="barrio" /> <!--th:field="*{}"-->

                                </div>

                                <div class="col-md-12">
                                    <label for="consultas">Consultas:</label>
                                    <input type="text" class="form-control" id="consultas" /> <!--th:field="*{}"-->

                                </div>
                            </div>
                            <button type="button"  id="crearEvento" class="btn btn-primary float-right" style="margin-top: 20px;">Crear</button>

                            <button type="button"  id="limpiar" class="btn btn-primary float-right" style="margin-top: 20px; margin-right: 30px" onclick="limpiarCampos()">Limpiar</button>


                        </div>
                    </div>
                </div>

            </div>

            <!-- FIN FORM AGREGAR USUARIO-->

            <!-- MENU ESTADISTICAS-->
            <div class="divisor"></div>

            <div class="row">
                <!-- FIN MENU ESTADISTICAS-->

                <!-- TABLA DE SERVICIOS INGRESADOS-->
                <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-5">
                                <h6>Ingresados</h6>
                            </div>

                        </div>
                    <table  id="tablaEventos"
                            data-toggle="table"
                            data-toolbar="#toolbar"
                            class="table"
                            data-search="true"
                            data-pagination="true"
                            data-page-size="10"
                            style=" width: 1px; white-space: nowrap;"

                    >
                        <thead>
                        <tr>
                            <th data-field="id" >Id Evento</th>
                            <th data-field="dias" >Dia</th>
                            <th data-field="horarios">Horario</th>
                            <th data-field="lugar">Lugar</th>
                            <th data-field="barrio">Barrio</th>
                            <th data-field="consultas">Consultas</th>
                            <th data-formatter="TableActions">Action</th>


                        </tr>
                        </thead>

                    </table>
                </div>
            </div>
            <!-- FIN TABLA DE SERVICIOS INGRESADOS-->
        </div>
    </div>
</div>


<div class="modal editar" tabindex="-1" role="dialog" id="modalEditarEvento">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Evento</h5>
                <button type="button" class="close" onclick="cerrarModal('modalEditarEvento')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="formEditarEvento" role="form">
                    <input type="hidden" class="form-control" id="idUsuarioEditar" />
                    <div class="container-fluid">
                        <div class="row">

                            <input type="hidden" class="form-control" id="idEventoEditar" />
                            <div class="col-md-6">
                                <label for="dia">dia</label>
                                <input type="text" class="form-control" id="diaEventoEditar" />
                            </div>
                            <div class="col-md-6">
                                <label for="horario">Horario</label>
                                <input type="text" class="form-control" id="horarioEventoEditar" />
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label for="direccion">Dirección</label>
                                <input type="text" class="form-control" id="direccionEventoEditar" />
                            </div>


                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <label for="rol">Lugar</label>
                                <input type="text" class="form-control" id="lugarEventoEditar" />

                            </div>
                            <div class="col-md-6">
                                <label for="rol">Barrio</label>
                                <input type="text" class="form-control" id="barrioEventoEditar" />

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="rol">Consultas</label>
                                <input type="text" class="form-control" id="consultasEventoEditar" />

                            </div>
                        </div>

                    </div>
                </form>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-primary " id="confirmarEditarEventoBtn" onclick="confirmaEditarEvento()">Grabar</button>

                <button type="button" class="btn btn-secondary" onclick="cerrarModal('modalEditarEvento')">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal borrar" tabindex="-1" role="dialog" id="modalBorrarEvento">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar evento</h5>
                <button type="button" class="close" onclick="cerrarModal('modalBorrarEvento')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="textoBorrarEvento">Seguro que desea borrar este evento?</p>
                <form id="formBorrarEvento" role="form">
                    <input type="hidden" class="form-control" id="idEventoBorrar" />
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary " id="confirmarBorrarEventoBtn" onclick="confirmaBorrarEvento()">Borrar</button>

                <button type="button" class="btn btn-secondary" onclick="cerrarModal('modalBorrarEvento')">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal alta" tabindex="-1" role="dialog" id="modalAltaEvento">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alta de evento</h5>
                <button type="button" class="close" onclick="cerrarModal('modalAltaEvento')"  aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="textoAltaEvento">.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="cerrarModal('modalAltaEvento')" >Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal alta" tabindex="-1" role="dialog" id="modalRespuestaEditarEvento">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar evento</h5>
                <button type="button" class="close" onclick="cerrarModal('modalRespuestaEditarEvento')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="textoEditarEvento">.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="cerrarModal('modalRespuestaEditarEvento')">Cerrar</button>
            </div>
        </div>
    </div>
</div>




</body>

<script type="text/javascript">

    /** ncomo estoy usando tags de ThymeLeaf si lo saco a un JS no me lo toma**/
    function TableActions (value, row, index) {
        return [


            '<a class="like"  onclick="editarEvento( \''+row.id+'\',  \''+row.dias+'\',   \''+row.horarios+'\',   \''+row.direccion+'\' ,   \''+row.lugar+'\' ,\''+row.barrio+'\', \''+row.consultas+'\');" title="Editar evento">',
            '<img class="options" th:src="@{/img/edit.png}" alt="check"/>',
            '</a> ',
            '<a class="danger remove" onclick="borrarEvento(\''+row.id+ '\')" title="Borrar Evento">',
            '<img class="options" th:src="@{/img/delete.png}" alt="cancel"/>',
            '</a>'
        ].join('');
    }


    $('#dias').datepicker({
        format:"dd-mm-yyyy",
        weekStart:0,
        startDate:"0d",
        todayBtn:"linked",
        locale:"es",
        language:"es",
        autoclose:true,
        todayHighlight:true
    });

    $('#diaEventoEditar').datepicker({
        format:"dd-mm-yyyy",
        weekStart:0,
        startDate:"0d",
        todayBtn:"linked",
        locale:"es",
        language:"es",
        autoclose:true,
        todayHighlight:true
    });
    $(document).ready(function () { //Cuando la pagina termina de cargar y esta lista, llama a los que esta aca dentro

        $('#example').bootstrapTable( {
            language: {
                search: "Buscar:"
            }
        } );
        cargarTablaEventos();


    });

    function cargarTablaEventos() {
        $.ajax({
            type: 'GET',
            url: '../eventos/todos',
            contentType: 'application/json; charset=utf-8',

            success: function(response) {
                console.log(response)
                $('#tablaEventos').bootstrapTable('load', response);
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

    $('#crearEvento').click(function() {
        var data = {

            dias : $('#dias').val(),
            horarios	: $('#horarios').val(),
            direccion	:$('#direccion').val(),
            lugar	: $('#lugar').val(),
            barrio: $('#barrio').val(),
            consultas	: $('#consultas').val()


        };
        $.ajax({
            type: 'POST',
            url: '../eventos/guardarEvento',
            data:JSON.stringify(data),

            contentType: 'application/json; charset=utf-8',
            success: function(response) {
                console.log(response.status);
                $("#error").hide();
                if(response.status=="SUCESS"){
                    $('#textoAltaEvento').text(response.result);
                    $('#modalAltaEvento').show();
                    cargarTablaEventos();
                    limpiarCampos();
                    $("#error").hide();
                }else{
                    var errorInfo="";
                    $.each(response.result,function (index,elem) {
                        errorInfo+="<br />"+(index+1)+". "+elem.field+" : "+elem.defaultMessage ;

                    });
                    $("#error").html("Efectue las siguientes correciones: "+errorInfo);
                    $("#error").show();
                    console.log(errorInfo);

                }


            },
            error: function(error) {

                console.log(error);
            }
        });
    });

    function cerrarModal(nombre){
        $('#'+nombre+'').hide();
    }

    function cerrarModalBorrarEvento(){
        $('#modalBorrarEvento').hide();
    }

    function cerrarModalEditarEvento(){
        $('#modalEditarEvento').hide();
    }


    function editarEvento(id,dia,horario,direccion,lugar,barrio,consultas) {

        $('#idEventoEditar').val(id),
        $('#diaEventoEditar').val(dia),
        $('#horarioEventoEditar').val(horario),
        $('#direccionEventoEditar').val(direccion),
        $('#lugarEventoEditar').val(lugar),
        $('#barrioEventoEditar').val(barrio),
        $('#consultasEventoEditar').val(consultas)

        $('#modalEditarEvento').show();

    }


    function borrarEvento(idEvento) {
        $('#idEventoBorrar').val(idEvento); //cargamos el mail del usuario a borrar en un campo oculto
        //lo vamos a necesitar despues cuando confirme la accion
        $('#confirmarBorrarEventoBtn').show(); //si el boton de aceptar lo habiamos escondido ahora lo tenemos que mostrar
        $('#textoBorrarEvento').text("Seguro que desea borrar este evento?"); //ponemos el texto
        $('#modalBorrarEvento').show();//mostramos el popup de confirmacion
    }

    function confirmaBorrarEvento(){
        $('#modalBorrarEvento').hide();
        var data = {
            id	: $('#idEventoBorrar').val()
        };

        $.ajax({
            type: 'POST',
            url: '../eventos/borrar',
            data:JSON.stringify(data),

            contentType: 'application/json; charset=utf-8',
            success: function(response) {
                console.log(response)
                $('#textoBorrarEvento').text(response);//cargamos el texto de respuesta del servidor
                $('#confirmarBorrarEventoBtn').hide(); //escondemos el boton borrar para que no borre de nuevo el mimdo evento
                cargarTablaEventos();//recargamos la tabla de usuarios actualizada
                $('#modalBorrarEvento').show();//mostramos popup con respuesta



            },
            error: function(error) {
                $('#textoBorrarEvento').text(error);//cargamos el texto de respuesta del servidor
                $('#confirmarBorrarEventoBtn').hide(); //escondemos el boton borrar para que no borre de nuevo el mimdo evento
                cargarTablaEventos();//recargamos la tabla de usuarios actualizada
                $('#modalBorrarEvento').show();//mostramos popup con respuesta
            }
        });
    }

    function confirmaEditarEvento(){
        $('#modalEditarEvento').hide();


        var data = {
            id:$('#idEventoEditar').val(),
            dias:$('#diaEventoEditar').val(),
            horarios:$('#horarioEventoEditar').val(),
            direccion	: $('#direccionEventoEditar').val(),
            lugar:$('#lugarEventoEditar').val(),
            barrio:$('#barrioEventoEditar').val(),
            consultas:$('#consultasEventoEditar').val()


        };

        $.ajax({
            type: 'POST',
            url: '../eventos/editarEvento',
            data:JSON.stringify(data),

            contentType: 'application/json; charset=utf-8',
            success: function(response) {
                console.log(response)
                $('#textoEditarEvento').text(response);//cargamos el texto de respuesta del servidor
                $('#modalRespuestaEditarEvento').show();//mostramos popup con respuesta

                cargarTablaEventos();//recargamos la tabla de eventos actualizada


            },
            error: function(error) {
                console.log(error);
            }
        });
    }

    function limpiarCampos() {
       $('#dias').val("");
       $('#horarios').val("");
       $('#direccion').val("");
       $('#lugar').val("");
       $('#barrio').val("");
       $('#consultas').val("");

    }
</script>

</html>