
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:fragment="head">
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-table.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker3.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/formValidation.css}"/>


    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.js}"></script>

    <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.es.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-table-es-AR.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/formValidation.js}"></script>
    <script type="text/javascript" th:src="@{/js/formValidation-bootstrap.js}"></script>



</head>
<body>
<header th:fragment="header">
    <div class="wrapper col-xs-12 col-md-12">
        <img class="logo" th:src="@{/img/iconPet.png}" alt="logo"/>
        <div class="logo">Adopta.Me</div>


        <nav id="sidebar">
            <div class="sidebar-header">
                <img class="logo" th:src="@{/img/iconPet.png}" alt="logo"/>
                <div class="logo">Adopta.Me</div>
            </div>

            <div class="divisor_bar"></div>


            <h3>Administrar</h3>
            <a th:href="@{/usuarios/nuevoUsuario}" class="list-group-item list-group-item-action">Usuarios</a>
            <a th:href="@{/prestador/nuevoPrestador}" class="list-group-item list-group-item-action">Servicios</a>
            <a th:href="@{/admin/eventos}" class="list-group-item list-group-item-action">Eventos</a>

            <div class="divisor"></div>

            <h3>Estadisticas</h3>
            <a th:href="@{/usuarios/nuevoUsuario}" class="list-group-item list-group-item-action">Usuarios</a>
            <a th:href="@{/prestador/nuevoPrestador}" class="list-group-item list-group-item-action">Servicios</a>
            <a th:href="@{/prestador/nuevoPrestador}" class="list-group-item list-group-item-action">Eventos</a>

            <a th:href="@{/logout}">Logout</a>

        </nav>
    </div>
</header>
</body>
</html>
