<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</head>

<body>
<header>
    <div class="wrapper col-xs-12 col-sm-12">
        <img class="logo" th:src="@{/img/iconPet.png}" alt="logo"/>
        <div class="logo">Adopta.Me</div>
        <nav>
            <a th:href="index.html">Inicio</a>
            <a th:href="eventos.html">Eventos</a>
            <a th:href="login.html">Admin</a>
        </nav>
    </div>
</header>
	<div class="divisor"></div>
	
<div class="container">
<div class="row">

<div class="col-sm-3">
<ul class="list-group">
  <li class="list-group-item list-group-item-dark disable">Administrar</li>
  <a href="admUsuarios.html" class="list-group-item list-group-item-action active">Usuarios</a>
  <a href="admServicio.html" class="list-group-item list-group-item-action">Servicios</a>
  <a href="admEvento.html" class="list-group-item list-group-item-action">Eventos</a>
</ul>
</div>
<!-- FIN MENU ADMINISTRAR-->

<!--AGREGAR USUARIO-->
<div class="col-sm-9">
<form action="">    
 <h6>Crear Usuario</h6>
<div class="card">
<div class="card-body">
<div class="row">

<div class="col-sm-4">
<div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre">
            </div><div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email">
            </div>
</div>

<div class="col-sm-4">
<div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control" id="apellido">
            </div><div class="form-group">
            <label for="password">Password:</label>
            <input type="text" class="form-control" id="password">
            </div>
</div>

<div class="col-sm-4">
<div class="form-group">
            <label for="usuario">Usuario:</label>
            <input type="text" class="form-control" id="usuario">
            </div>


<div class="form-group">
            <label for="rol">Rol:</label>
            <select class="form-control" id="rol">
                <option>Admin</option>
                <option>Público</option>
            </select>
            </div>
            <button type="submit" class="btn btn-secondary float-right">Crear</button>      
      </div>    
</form>
</div>
</div>
</div>
</div>
<!-- FIN FORM AGREGAR USUARIO-->
</div>

<!-- MENU ESTADISTICAS-->
	<div class="divisor"></div>
<div class="row">
<div class="col-sm-3">
<ul class="list-group">
  <li class="list-group-item list-group-item-dark disable">Estaditicas</li>
  <a href="admUsuarios.html" class="list-group-item list-group-item-action">Usuarios</a>
  <a href="admServicio.html" class="list-group-item list-group-item-action">Servicios</a>
  <a hhref="adm_evn.html" class="list-group-item list-group-item-action">Eventos</a>
</ul>
</div>
<!-- FIN MENU ESTADISTICAS-->

<!-- TABLA DE SERVICIOS INGRESADOS-->
<div class="col-sm-9">
   <form action="">
  <div class="row">
  <div class="col-sm-5">
   <h6>Ingresados</h6>
   </div>
   <div class="col-sm-2">
<div class="form-group">
            <label for="filtrar">Filtrar:</label>
            <select class="form-control" id="filtrar_combo">
                <option>Todos</option>
                <option>Admin</option>
                <option>Activos</option>
                <option>Suspendidos</option>
                <option>Usuario</option>
            </select>
            </div>
            </div>
            <div class="col-sm-3">
                <label for="filtro">Ingrese filtro:</label>
            <input type="text" class="form-control" id="filtro">
            </div>
            <div class="col-sm-2">
            <button type="submit" class="btn btn-secondary buscar">Buscar</button> 
            </div>
            </form>
      </div>
    <table class="table table-sm table-hover table-bordered text-center">
  <thead>
    <tr >
      <th scope="col">Usuario</th>
      <th scope="col">Email</th>
      <th scope="col">Estado</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
         <td>
        <a href=""><img class="options" src="../../../../../../../Desktop/Adopta.Me-Web/images/ckeck.png" alt="check"></a>
        <a href=""><img class="options" src="../../../../../../../Desktop/Adopta.Me-Web/images/block.png" alt="block"></a>
        <a href=""><img class="options" src="../../../../../../../Desktop/Adopta.Me-Web/images/cancel.png" alt="cancel"></a>
        </td>
    </tr>
  </tbody>
</table>
</div>
<!-- FIN TABLA DE SERVICIOS INGRESADOS-->
</div>
</div>	
</body>
</html>