<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</head>

<body>
<header>
	<div class="wrapper col-xs-12 col-sm-12">
		<img class="logo" th:src="@{/img/iconPet.png}" alt="logo"/>
		<div class="logo">Adopta.Me</div>
		<nav>
			<a th:href="@{/}">Inicio</a>
			<a th:href="@{/eventos}">Eventos</a>
			<a th:href="@{/login/login}">Admin</a>
		</nav>
	</div>
</header>

		<h1 class="titulo" >Proximos eventos</h1>
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-sm-4">
					<div class="card">
						<img class="card-img-top" th:src="@{/img/iconPet.png}" alt="Card image"/>
						<div class="card-body">
						   <p class="float-right">16 de abril</p>
							<h4 class="card-title">Titulo</h4>
							<p class="card-text">Calle Falsa 123, Springfield</p>
							<a th:href="@{/eventoDetalle}" class="btn btn-outline-info btn-block">Detalles</a>
						</div>
					</div>
				</div>
				<div class=" col-xs-6 col-sm-4">
					<div class="card">
						<img class="card-img-top" th:src="@{/img/iconPet.png}" alt="Card image"/>
						<div class="card-body">
						<p class="float-right">16 de abril</p>
							<h4 class="card-title">Titulo</h4>
							<p class="card-text">Calle Falsa 123, Springfield</p>
							<a th:href="@{/eventoDetalle}" class="btn btn-outline-info btn-block">Detalles</a>
						</div>
					</div>
				</div>
				<div class=" col-xs-6 col-sm-4">
					<div class="card">
						<img class="card-img-top" th:src="@{/img/iconPet.png}" alt="Card image"/>
						<div class="card-body">
						<p class="float-right">16 de abril</p>
							<h4 class="card-title">Titulo</h4>
							<p class="card-text">Calle Falsa 123, Springfield</p>
							<a th:href="@{/eventoDetalle}" class="btn btn-outline-info btn-block">Detalles</a>
						</div>
					</div>
				</div>
			</div>
		</div>

<div class="divisor"></div>
<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<img class="img_contact" th:src="@{/img/contact.png}" alt="contact" />
				<h4>Contacto</h4>
			</div>
			<div class="col-sm-4">
				<h4>Encontranos en:</h4>
				<img class="img_red" th:src="@{/img/facebook.png}" alt="facebook"/>
				<img class="img_red" th:src="@{/img/instagram.png}" alt="instagram" />
			</div>
			<div class="col-sm-4">
				<img class="img_red" th:src="@{/img/playstore.png}" alt="playstore"/>
				<h4 >Descargar APP</h4>
			</div>
		</div>
	</div>
</footer>
	
</body>
</html>

