<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:include="admin/admHeader :: head"></head>


<body>

<header th:replace="admin/admHeader :: header"></header>

    <div class="divisor"></div>
        <div class="wrapper">

        <div id="content">
            <div class="container">
                <div class="row">

                    <!-- formulario de Ing de servicio-->
                    <div class="col-md-11">
                        <form action="">
                            <h6>Ingresar Nuevo Servicio</h6>
                            <div class="card">
                                <div class="card-body">
                                    <h6>Datos de Usuario</h6>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="nombre">Nombre:</label>
                                            <input type="text" class="form-control" id="nombre"/>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="email">Email:</label>
                                            <input type="text" class="form-control" id="email" onblur="buscoEmail()"/>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="apellido">Apellido:</label>
                                            <input type="text" class="form-control" id="apellido"/>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="urlPago">Link de Pago:</label>
                                            <input type="text" class="form-control" id="urlPago"/>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="direccion">Direccion:</label>
                                            <input type="text" class="form-control" id="direccion"/>
                                        </div>
                                    </div>

                                    <div class="divisor"></div>

                                    <h6>Datos de Servicio</h6>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="titulo">Título:</label>
                                            <input type="text" class="form-control" id="titulo"/>
                                        </div>

                                        <div class="col-md-2">
                                            <label for="costo">Costo:</label>
                                            <input type="text" class="form-control" id="costo"/>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="vigencia">Vigencia:</label>
                                            <input type="text" class="form-control" id="vigencia"/>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="tipoServicio">Tipo Servicio:</label>
                                            <select class="form-control" id="tipoServicio">
                                                <!-- <option value="">Seleccionar rubro</option>
                                                 <option th:each="rub : ${rubro}"
                                                         th:value="${rub.id}"
                                                         th:text="${rub.nombreRol}"></option>-->
                                                <option th:value="Guarderia" th:text="Guarderia"></option>
                                                <option th:value="Veterinaria" th:text="Veterinaria"></option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="descripcion">Descripción:</label>
                                            <textarea class="form-control" rows="3" cols="50" id="descripcion" ></textarea>
                                        </div>
                                    </div>
                                    <button type="button"  id="crearPrestador" class="btn btn-secondary float-right">Agregar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- FIN formulario de Ing de servicio-->
                    <div class="divisor"></div>
                    <div class="row">

                        <!-- TABLA DE SERVICIOS INGRESADOS-->
                        <div class="offset-md-1 col-md-12">
                            <div class="divisor"></div>
                            <h6>Activos</h6>

                            <table  id="tablaServicios"
                                    data-toggle="table"
                                    data-toolbar="#toolbar"
                            >
                                <thead>
                                <tr>
                                    <th data-field="id">Id Persona</th>
                                    <th data-field="nombre">Nombre</th>
                                    <th data-field="apellido">Apellido</th>
                                    <th data-field="email">Email</th>
                                    <th data-field="titulo">Titulo</th>
                                    <th data-field="fechaVinculacion" data-formatter="dateFormat">Fecha Desde</th>
                                    <th data-field="fechaFin" data-formatter="dateFormat">Fecha Hasta</th>
                                    <th data-formatter="TableActions">Action</th>
                                </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divisor"></div>


    <div class="modal alta" tabindex="-1" role="dialog" id="modalAltaServicio">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Alta de Servicio</h5>
                    <button type="button" class="close" onclick="cerrarModal('modalAltaServicio')"  aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="textoAltaServicio">.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="cerrarModal('modalAltaServicio')" >Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal borrar" tabindex="-1" role="dialog" id="modalBorrarServicio">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar Servicio</h5>
                    <button type="button" class="close" onclick="cerrarModal('modalBorrarServicio')" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="textoBorrarUsuario">Seguro que desea borrar este Servicio?</p>
                    <form id="formBorrarServicio" role="form">
                        <input type="hidden" class="form-control" id="emailServicioBorrar" />
                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary " id="confirmarBorrarServicioBtn" onclick="confirmaBorrarServicio()">Borrar</button>

                    <button type="button" class="btn btn-secondary" onclick="cerrarModal('modalBorrarServicio')">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" th:src="@{/js/admServicios.js}"></script>
<script>

function TableActions (value, row, index) {
return [

'<a class="danger remove" onclick="borrarServicio(\''+row.email+ '\')" title="Borrar Usuario">',
    '<img class="options" th:src="@{/img/delete.png}" alt="cancel"/>',
    '</a>'
].join('');
}


</script>
</body>
</html>


