<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:include="admin/admHeader :: head"></head>


<body>

<header th:replace="admin/admHeader :: header"></header>

    <div class="divisor"></div>
        <div class="wrapper">

        <div id="content">
            <div class="container">
                <div class="row">

                    <!-- formulario de Ing de servicio-->
                    <div class="col-md-11">
                        <form id="altaServicioForm"  name="altaServicioForm" >
                            <h6>Ingresar Nuevo Servicio</h6>
                            <div class="card">
                                <div class="card-body">
                                    <h6>Datos de Usuario</h6>
                                    <div class="row">


                                        <div class="col-md-4">
                                            <label for="email">* Email:</label>
                                            <input type="text" class="form-control" id="email" name="email" onblur="buscoEmail()"/>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="nombre">* Nombre:</label>
                                            <input type="text" class="form-control" id="nombre" name="nombre"/>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="apellido">* Apellido:</label>
                                            <input type="text" class="form-control" id="apellido" name="apellido"/>
                                        </div>
                                       <div class="col-md-4">
                                            <label for="direccion">* Direccion:</label>
                                            <input type="text" class="form-control" id="direccion" name="direccion"/>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="direccion">* Teléfono:</label>
                                            <input type="text" class="form-control" id="telefono" name="telefono"/>
                                        </div>
                                    </div>

                                    <div class="divisor"></div>

                                    <h6>Datos de Servicio</h6>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="titulo">* Título:</label>
                                            <input type="text" class="form-control" id="titulo" name="titulo"/>
                                        </div>

                                        <div class="col-md-2">
                                            <label for="costo">* Costo:</label>
                                            <input type="text" class="form-control" id="costo" name="costo"/>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="vigencia">* Vigencia (Días):</label>
                                            <input type="text" class="form-control" id="vigencia" name="vigencia"/>
                                        </div>

                                        <div class="col-md-2">
                                            <label for="tipoServicio">* Tipo Servicio:</label>
                                            <select class="form-control" id="tipoServicio" name="tipoServicio">
                                                <option th:value="Guarderia" th:text="Guarderia"></option>
                                                <option th:value="Veterinaria" th:text="Veterinaria"></option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="urlPago">* Link de Pago:</label>
                                            <input type="text" class="form-control" id="urlPago" name="urlPago"/>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="descripcion">* Descripción:</label>
                                            <textarea class="form-control" rows="3" cols="50" id="descripcion" name="descripcion"></textarea>
                                        </div>
                                    </div>
                                    <button type="button"  id="crearPrestador" class="btn btn-secondary float-right">Agregar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- FIN formulario de Ing de servicio-->
                    <div class="divisor"></div>
                    <div class="row">

                        <!-- TABLA DE SERVICIOS INGRESADOS-->
                        <div class=" col-md-12">
                            <div class="divisor"></div>
                            <h6>Activos</h6>

                            <table  id="tablaServicios"
                                    data-toggle="table"
                                    data-toolbar="#toolbar"
                                    data-search="true"
                                    data-pagination="true"
                                    data-page-size="10"
                                   style="table-layout: fixed; word-wrap: break-word"



                            >
                                <thead>
                                <tr>
                                    <th data-field="idServicio" data-visible="false">idServicio</th>
                                    <th data-formatter="nameFormatter">Prestador</th>
                                    <th data-field="email">Email</th>
                                    <th data-field="titulo">Titulo</th>
                                    <th data-field="descripcion">Descripcion</th>
                                    <th data-field="costo">Costo $</th>
                                    <th data-field="urlPago">URL Pago</th>
                                    <th data-field="fechaFin" >Fecha Hasta</th>
                                    <th data-formatter="TableActions">Action</th>
                                </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divisor"></div>


    <div class="modal alta" tabindex="-1" role="dialog" id="modalAltaServicio">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Alta de Servicio</h5>
                    <button type="button" class="close" onclick="cerrarModal('modalAltaServicio')"  aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="textoAltaServicio">.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="cerrarModal('modalAltaServicio')" >Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal borrar" tabindex="-1" role="dialog" id="modalBorrarServicio">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar Servicio</h5>
                    <button type="button" class="close" onclick="cerrarModal('modalBorrarServicio')" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="textoBorrarServicio"></p>
                    <form id="formBorrarServicio" role="form">
                        <input type="hidden" class="form-control" id="idServicio" />
                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary " id="confirmarBorrarServicioBtn" onclick="confirmaBorrarServicio()">Borrar</button>

                    <button type="button" class="btn btn-secondary" onclick="cerrarModal('modalBorrarServicio')">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


<div class="modal editar" tabindex="-1" role="dialog" id="modalEditarServicio">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Evento</h5>
                <button type="button" class="close" onclick="cerrarModal('modalEditarServicio')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="formEditarServicio" name="formEditarServicio" role="form">
                    <div class="container-fluid">
                        <div class="row">

                            <input type="hidden" class="form-control" id="idServicioEditar" />
                            <div class="col-md-6">
                                <label for="Titulo">* Titulo</label>
                                <input type="text" class="form-control" id="tituloServicioEditar" name="tituloServicioEditar"  />
                            </div>
                            <div class="col-md-6">
                                <label for="Costo">* Costo</label>
                                <input type="text" class="form-control" id="costoServicioEditar" name="costoServicioEditar" />
                            </div>
                        </div>
                            <div class="row">


                            <div class="col-md-12">
                                <label for="Descripcion">* Descripcion</label>
                                <input type="text" class="form-control" id="descripcionServicioEditar" name="descripcionServicioEditar"/>
                            </div>

                        </div>


                        <div class="row">

                            <div class="col-md-6">
                                <label for="urlPagoServicioEditar">* URL Pago</label>
                                <input type="text" class="form-control" id="urlPagoServicioEditar" name="urlPagoServicioEditar"/>

                            </div>
                            <div class="col-md-6">
                                <label for="fechaFinServicioEditar">* Fecha Fin </label>
                                <input type="text" class="form-control" id="fechaFinServicioEditar" name="fechaFinServicioEditar" onchange="revalidarDias()" />


                            </div>

                        </div>


                    </div>


            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-primary " id="confirmarEditarServicioBtn" onclick="confirmaEditarServicio()">Grabar</button>

                <button type="button" class="btn btn-secondary" onclick="cerrarModal('modalEditarServicio')">Cerrar</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal alta" tabindex="-1" role="dialog" id="modalRespuestaEditarServicio">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar evento</h5>
                <button type="button" class="close" onclick="cerrarModal('modalRespuestaEditarServicio')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="textoEditarServicio">.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="cerrarModal('modalRespuestaEditarServicio')">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/admServicios.js}"></script>
<script>


/** ncomo estoy usando tags de ThymeLeaf si lo saco a un JS no me lo toma**/
function TableActions (value, row, index) {
    return [


        '<a class="like"  onclick="editarServicio( \''+row.idServicio+'\',  \''+row.titulo+'\',   \''+row.descripcion+'\',   \''+row.costo+'\' ,   \''+row.urlPago+'\' ,\''+row.fechaFin+'\');" title="Editar Servicio">',
        '<img class="options" src="../img/edit.png" alt="check"/>',
        '</a> ',
        '<a class="danger remove" onclick="borrarServicio(\''+row.idServicio+ '\')" title="Borrar Servicio">',
        '<img class="options" src="../img/delete.png" alt="cancel"/>',
        '</a>'
    ].join('');
}

function nameFormatter(value, row, index) {
    return row.nombre + " " + row.apellido;
}
</script>
</body>
</html>


